@model ПРАКТИКА_MVC_ПРИЛОЖЕНИЕ.Models.Идентификатор_врача

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование карточки врача</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Идентификатор_врача1)

    <div class="form-group">
        @Html.LabelFor(model => model.Врач.Фамилия_врача, "Фамилия врача", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Врач.Фамилия_врача, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Врач.Фамилия_врача, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Врач.Имя_врача, "Имя врача", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Врач.Имя_врача, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Врач.Имя_врача, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Врач.Отчество_врача, "Отчество врача", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Врач.Отчество_врача, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Врач.Отчество_врача, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Врач.Код_учреждения_здравоохранения, "Код учреждения здравоохранения", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Врач.Код_учреждения_здравоохранения, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Врач.Код_учреждения_здравоохранения, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Код_специальности, "Специальность", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Код_специальности, Model.DoctorList, "Выберите элемент")
            @Html.ValidationMessageFor(model => model.Код_специальности, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Категория, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Категория, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Категория, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Врач.Рабочий_телефон, "Рабочий телефон", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Врач.Рабочий_телефон, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Врач.Рабочий_телефон, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <hr />
            <input type="submit" value="Сохранить изменения" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>
